<% add_decidim_page_title(translated_attribute(superspace.title)) %>

<%
  edit_link(
    decidim_admin_superspaces.edit_superspace_path(superspace),
    :update,
    :superspace,
    superspace:
  )
%>

<% content_for :aside do %>
  <h1 class="title-decorator"><%= translated_attribute(superspace.title) %></h1>
  <div class="rich-text-display"><%= translated_attribute(superspace.description).html_safe %></div>
<% end %>

<%= render layout: "layouts/decidim/shared/layout_two_col" do %>
  <% active_types = superspace.participatory_spaces_order || [] %>
  <% active_spaces = [] %>
  <% active_types.each do |type| %>
    <% spaces = case type
      when "assemblies" then superspace.assemblies
      when "participatory_processes" then superspace.participatory_processes
      when "conferences" then superspace.conferences
      else []
    end %>
    <% active_spaces.concat(spaces) if spaces.any? %>
    <% if spaces.any? %>
      <section id="<%= type %>-grid" class="layout-main__section layout-main__heading">
        <h2 class="title-decorator"><%= t(type, scope: "decidim.superspaces.superspaces.show") %></h2>
        <% spaces.each do |space| %>
          <%= card_for space, highlight: true, size: :g %>
        <% end %>
      </section>
    <% end %>
  <% end %>
  <% if active_spaces.empty? %>
    <div class="text-muted text-center my-4">
      <%= t("decidim.superspaces.superspaces.show.no_active_participatory_spaces") %>
    </div>
  <% end %>
  <% if superspace.show_statistics %>
    <section id="statistics-grid" class="layout-main__section layout-main__heading">
        <h2 class="title-decorator"><%= t("statistics", scope: "decidim.superspaces.superspaces.show") %></h2>
          <%= cell("decidim/statistics",superspace.statistics) %>
    </section>
  <% end %>
<% end %>

<%= render partial: "language_selector" %>
