<% add_decidim_page_title(translated_attribute(superspace.title)) %>

<%
  edit_link(
    decidim_admin_superspaces.edit_superspace_path(superspace),
    :update,
    :superspace,
    superspace:
  )
%>

<% content_for :aside do %>
  <h1 class="title-decorator"><%= translated_attribute(superspace.title) %></h1>
<% end %>

<%= render layout: "layouts/decidim/shared/layout_two_col" do %>
  <% if superspace.assemblies.any? %>
    <section id="assemblies-grid" class="layout-main__section layout-main__heading">
      <h2 class="title-decorator"><%= t("assemblies", scope: "decidim.superspaces.superspaces.show") %></h2>
      <% superspace.assemblies.each do |assembly| %>
        <%= card_for assembly, highlight: true, size: :g %>
      <% end %>
    </section>
  <% end %>

  <% if superspace.participatory_processes.any? %>
    <section id="processes-grid" class="layout-main__section layout-main__heading">
      <h2 class="title-decorator"><%= t("participatory_processes", scope: "decidim.superspaces.superspaces.show") %></h2>
      <% superspace.participatory_processes.each do |process| %>
        <%= card_for process, highlight: true, size: :g %>
      <% end %>
    </section>
  <% end %>
<% end %>

<%= render partial: "language_selector" %>
