<% add_decidim_page_title(t(".title")) %>
<div class="card edit_content_blocks">
  <div class="item_show__header">
    <h1 class="item_show__header-title">
      <%= t(".participatory_spaces_title", default: "Orden de Tipos de Espacios Participativos") %>
    </h1>
  </div>

  <div class="card-section-draggable-list">
    <div class="full">
      <div class="grid-x grid-margin-x card-grid">
        <div class="cell">
          <div class="card">
            <div class="card-section">
              <h5 class="draggable-list-title"><%= t(".active_participatory_spaces") %></h5>
              <ul class="draggable-list js-connect js-list-actives" data-sort-url="<%= update_spaces_order_superspace_path(@superspace) %>">
                <% @active_space_types.each do |space_type| %>
                  <%= cell "decidim/superspaces/admin/participatory_space_type", space_type %>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
        <div class="cell">
          <div class="card">
            <div class="card-section">
              <h5 class="draggable-list-title"><%= t(".inactive_participatory_spaces") %></h5>
              <ul class="draggable-list js-connect js-list-available">
                <% @inactive_space_types.each do |space_type| %>
                  <%= cell "decidim/superspaces/admin/participatory_space_type", space_type %>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  document.addEventListener("dragend", function (event) {
    const activeBlocks = Array.prototype.slice.call(document.querySelectorAll(".js-list-actives li"));
    const activeBlocksId = activeBlocks.map(block => block.dataset.contentBlockId);

    $.ajax({
      method: "PUT",
      url: document.querySelector(".js-list-actives").dataset.sortUrl,
      contentType: "application/json",
      data: JSON.stringify({ ids_order: activeBlocksId })
    });
  })
</script>
